{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# fish, neovim ppa
sudo add-apt-repository ppa:fish-shell/release-3 -y -n
sudo add-apt-repository ppa:neovim-ppa/unstable -y -n
sudo add-apt-repository ppa:neovim-ppa/stable -y -n

# github cli 
curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null

sudo apt update
sudo apt upgrade -y

sudo apt install fish ripgrep neovim gh build-essential

# exa only available on 20.10 or above
sudo apt install exa

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

brew install fish
brew install ripgrep
brew install exa
brew install --HEAD neovim
brew install gh
{{ end -}}

# fisher
fish -c "curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher"

CHEZMOI_EXEC={{- .chezmoi.args[0] }}
sh -c "~/.bin/chezmoi apply ~/.config/fish/fish_plugins --force"

fish -c "fisher update"

# neovim vim-plug
sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'

fish -c "nvm install lts"
fish -c "nvm use lts"

echo $(which fish) | sudo tee -a /etc/shells
chsh -s $(which fish)

echo ""
echo "Last steps:"
echo "- Make sure to run :PlugInstall in neovim"
