{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# fish, neovim ppa
sudo add-apt-repository ppa:fish-shell/release-3 -y
sudo add-apt-repository ppa:neovim-ppa/unstable -y
sudo add-apt-repository ppa:neovim-ppa/stable -y

# github cli 
curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null

sudo apt update
sudo apt upgrade -y

sudo apt install fish ripgrep neovim gh

# exa 
# need to build exa from source because package doesnt exist for LTE 20.04
apt-cache show exa
status=$?

if [[ $status -eq 0 ]]
then
	echo "exa available, installing from apt"
	sudo apt install exa
else
	echo "exa not available via apt, building from source"
	sudo apt install libgit2-dev rustc
	sudo apt-mark auto rustc
	git clone https://github.com/ogham/exa --depth=1
	cd exa
	cargo build --release && cargo test #cargo test is optional
	sudo install target/release/exa /usr/local/bin/exa
	cd ..
	rm -rf exa
	sudo apt purge --autoremove
fi

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

brew install fish
brew install ripgrep
brew install exa
brew install --HEAD neovim
brew install gh
{{ end -}}

#fisher
fish -c "curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher"
fish -c "fisher update"
